## 다시 시작
- hg01은 열지 말것!

## 부산 초등학교 현황

### 분석데이터
모두 학교 알리미 오픈데이터

<img src="https://raw.githubusercontent.com/hugoMGSung/works-need-it-data-analysis/main/images/an001.png" width="800">

학사/학생 > 학년별.학급별 학생수 API로 진행

#### 메타정보
- 분류체계 : 학사/학생 > 학년별·학급별 학생수
- 요청 URL : http://www.schoolinfo.go.kr/openApi.do
- 제공방식 : REST
- 데이터포맷 : JSON

- 요청인자
	- apiKey STRING(필수) 인증키
	- apiType STRING(필수) Api종류 09
	- pbanYr NUMBER(필수) 공시연도 yyyy(2020) 최근 3년간 정보만(2024년 안됨)
	- schulKndCode STRING(필수) 학교급구분 02:초등 03:중등 04:고등 05:특수 06:그외 07:각종

- 출력인자
	- 181개 생략

- 아래와 같은 방식으로 URL을 요청해야
	- https://www.schoolinfo.go.kr/openApi.do?apiKey=c4397fe308a241feb79cc7f7c58c0282&apiType=09&schulKndCode=02&pbanYr=2023

### 라이브러리 Import 및 URL

- requests(Python HTTP for Humans) : !pip install requests
- certifi(Python package for providing Mozilla's CA Bundle.) : !pip install certifi
- openpyxl(A Python library to read/write Excel) : !pip install openpyxl

In [2]:
import requests
import json
import pprint
import certifi
import pandas as pd

In [3]:
url = 'https://www.schoolinfo.go.kr/openApi.do?apiKey=c4397fe308a241feb79cc7f7c58c0282&apiType=09&schulKndCode=02&pbanYr=2023'

In [ ]:
## 오류발생
## SSLError: HTTPSConnectionPool(host='www.schoolinfo.go.kr', port=443): Max retries exceeded with url: /openApi.do?
response = requests.get(url)
contents = response.text

In [4]:
## 위의 문제 port=443): Max retries exceeded with url 해결. 
response = requests.get(url, verify=False)
contents = response.text

c:\Users\perso\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.schoolinfo.go.kr'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [5]:
json_object = json.loads(contents)

In [6]:
## 되도록이면 확인하지 말것/ 아래에서 저장후 확인 요
# json_object

In [7]:
with open('result.json', 'w', encoding='utf-8') as f:
    json.dump(json_object, f, ensure_ascii=False, indent=4)

In [8]:
## json을 pandas로 변환
df = pd.DataFrame(json_object['list'])

In [9]:
df.head()

,FOND_SC_CODE,COL_S_SUM,TEACH_CNT,SCHUL_CODE,PBAN_EXCP_YN,BNHH_YN,ATPT_OFCDC_ORG_NM,COL_C_SUM,TEACH_CAL,COL_S8,...,COL_C2,COL_4,COL_C1,COL_3,COL_2,COL_1,ADRCD_NM,SCHUL_KND_SC_CODE,JU_ORG_CODE,COL_SUM
0,국립,610,32,S000003511,N,N,서울특별시교육청,28,19.1,0,...,4,20.8,4,23.8,23.8,23.8,서울특별시 서초구,02,A000000001,21.8
1,국립,595,37,S000003563,N,N,서울특별시교육청,31,16.1,0,...,5,21.0,5,20.2,19.4,16.8,서울특별시 종로구,02,A000000001,19.2
2,공립,1067,43,S010000738,N,N,서울특별시교육청,33,24.8,0,...,5,30.2,5,32.8,35.6,37.0,서울특별시 강남구,02,B100000249,32.3
3,공립,649,46,S010000739,N,N,서울특별시교육청,42,14.1,0,...,7,17.3,7,16.9,12.4,18.7,서울특별시 강남구,02,B100000249,15.5
4,공립,737,42,S010000741,N,N,서울특별시교육청,34,17.5,0,...,5,23.0,5,23.0,20.4,24.4,서울특별시 강남구,02,B100000249,21.7

In [10]:
# 초등학교 정보 csv로 저장
df.to_csv('korean_elementry_status_2023.csv')

In [3]:
import openpyxl

In [12]:
# 엑셀보다 csv가 편하다. 저장시간 및 파일 사이즈 등...
df.to_excel('korean_elementry_status_2023.xlsx')

#### 엑셀로 변환 후 부산외 도시 삭제 후 다시 저장

In [17]:
df_origin = pd.read_excel('./korean_elementry_status_busan_2023.xlsx', header=0)

In [18]:
df_origin.head()

,FOND_SC_CODE,COL_S_SUM,TEACH_CNT,SCHUL_CODE,PBAN_EXCP_YN,BNHH_YN,ATPT_OFCDC_ORG_NM,COL_C_SUM,TEACH_CAL,COL_S8,...,COL_C2,COL_4,COL_C1,COL_3,COL_2,COL_1,ADRCD_NM,SCHUL_KND_SC_CODE,JU_ORG_CODE,COL_SUM
0,국립,592,29,S000003559,N,N,부산광역시교육청,25,20.4,0,...,4,23.8,4,23.8,23.8,23.8,부산광역시 연제구,2,A000000001,23.7
1,공립,294,16,S020000625,N,N,부산광역시교육청,15,18.4,0,...,2,25.5,2,17.5,18.0,21.5,부산광역시 중구,2,C100000284,19.6
2,사립,483,22,S020000626,N,N,부산광역시교육청,17,22.0,0,...,3,23.7,3,33.0,33.3,28.7,부산광역시 중구,2,C100000284,28.4
3,공립,329,20,S020000628,N,N,부산광역시교육청,17,16.5,0,...,3,20.0,2,16.3,23.3,23.0,부산광역시 남구,2,C100000175,19.4
4,공립,929,45,S020000629,N,N,부산광역시교육청,39,20.6,0,...,6,22.3,5,25.2,22.5,26.4,부산광역시 남구,2,C100000175,23.8

In [19]:
df_origin.tail()

,FOND_SC_CODE,COL_S_SUM,TEACH_CNT,SCHUL_CODE,PBAN_EXCP_YN,BNHH_YN,ATPT_OFCDC_ORG_NM,COL_C_SUM,TEACH_CAL,COL_S8,...,COL_C2,COL_4,COL_C1,COL_3,COL_2,COL_1,ADRCD_NM,SCHUL_KND_SC_CODE,JU_ORG_CODE,COL_SUM
300,공립,821,41,S020002257,N,N,부산광역시교육청,36,20.0,0,...,6,23.0,7,26.5,24.5,23.9,부산광역시 강서구,2,C100000258,22.8
301,공립,1766,71,S020002276,N,N,부산광역시교육청,60,24.9,0,...,11,30.0,8,28.1,33.7,27.9,부산광역시 강서구,2,C100000258,29.4
302,공립,1046,49,S020002277,N,N,부산광역시교육청,42,21.3,0,...,7,25.4,7,25.9,27.0,24.7,부산광역시 기장군,2,C100000312,24.9
303,공립,948,45,S020002312,N,N,부산광역시교육청,39,21.1,0,...,7,27.2,9,26.1,25.6,21.8,부산광역시 기장군,2,C100000312,24.3
304,공립,234,32,S020002361,N,N,부산광역시교육청,29,7.3,0,...,6,0.0,10,0.0,0.0,23.2,부산광역시 강서구,2,C100000258,8.1

In [22]:
## 컬럼이 42개나 된다.
df_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FOND_SC_CODE         305 non-null    object
 1   COL_S_SUM            305 non-null    int64
 2   TEACH_CNT            305 non-null    int64
 3   SCHUL_CODE           305 non-null    object
 4   PBAN_EXCP_YN         305 non-null    object
 5   BNHH_YN              305 non-null    object
 6   ATPT_OFCDC_ORG_NM    305 non-null    object
 7   COL_C_SUM            305 non-null    int64
 8   TEACH_CAL            305 non-null    float64
 9   COL_S8               305 non-null    int64
 10  COL_S7               305 non-null    int64
 11  COL_S6               305 non-null    int64
 12  COL_S5               305 non-null    int64
 13  SCHUL_NM             305 non-null    object
 14  COL_S4               305 non-null    int64
 15  COL_S3               305 non-null    int64
 16  ATPT_OFCDC_ORG_CODE  305 non-null    object
 17  COL_S2               305 non-null    int64
 18  LCTN_SC_CODE         305 non-null    int64
 19  COL_S1               305 non-null    int64
 20  ADRCD_CD             305 non-null    int64
 21  JU_ORG_NM            305 non-null    object
 22  COL_C8               305 non-null    int64
 23  COL_C7               305 non-null    int64
 24  COL_8                305 non-null    int64
 25  COL_C6               305 non-null    int64
 26  COL_C5               305 non-null    int64
 27  COL_7                305 non-null    float64
 28  COL_C4               305 non-null    int64
 29  COL_6                305 non-null    float64
 30  COL_C3               305 non-null    int64
 31  COL_5                305 non-null    float64
 32  COL_C2               305 non-null    int64
 33  COL_4                305 non-null    float64
 34  COL_C1               305 non-null    int64
 35  COL_3                305 non-null    float64
 36  COL_2                305 non-null    float64
 37  COL_1                305 non-null    float64
 38  ADRCD_NM             305 non-null    object
 39  SCHUL_KND_SC_CODE    305 non-null    int64
 40  JU_ORG_CODE          305 non-null    object
 41  COL_SUM              305 non-null    float64
dtypes: float64(9), int64(23), object(10)
memory usage: 100.2+ KB

#### 두번째 방식

- https://www.schoolinfo.go.kr/ng/go/pnnggo_a01_l2.do# 에서 
	- 2024년도 초등학교 부산광역시교육청 선택 후 검색
	- 다운로드로 2024_busan_elementry_stat.csv 다운로드

In [23]:
df_busan = pd.read_csv('./2024_busan_elementry_stat.csv')
df_busan.head()

,시도교육청,교육지원청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,제외여부,제외사유,1학년 학급수,...,특수학급 학생수,특수학급 학급당 학생수,순회학급 학급수,순회학급 학생수,순회학급 학급당 학생수,학급수(계),학생수(계),학급당 학생수(계),교사수,수업교원 1인당 학생수
0,부산광역시교육청,부산광역시동래교육지원청,부산광역시 연제구,S000003559,부산교육대학교부설초등학교,2,국립,N,NaN,4,...,6,6.0,0,0,0,25,560,22.4,29,19.3
1,부산광역시교육청,부산광역시서부교육지원청,부산광역시 중구,S020000625,광일초등학교,2,공립,N,NaN,2,...,4,4.0,0,0,0,14,262,18.7,17,15.4
2,부산광역시교육청,부산광역시서부교육지원청,부산광역시 중구,S020000626,남성초등학교,2,사립,N,NaN,3,...,0,0.0,0,0,0,17,438,25.8,23,19.0
3,부산광역시교육청,부산광역시남부교육지원청,부산광역시 남구,S020000628,대남초등학교,2,공립,N,NaN,3,...,5,5.0,0,0,0,16,314,19.6,19,16.5
4,부산광역시교육청,부산광역시남부교육지원청,부산광역시 남구,S020000629,대연초등학교,2,공립,N,NaN,5,...,9,4.5,0,0,0,39,871,22.3,48,18.1

In [24]:
# 필요없는 컬럼 삭제
## 위에 나오는 컬럼명을 볼 수 있는 정도까지만 삭제, 이를 반복
df_busan = df_busan.drop(['시도교육청', '교육지원청',  '학교급코드', '제외사유', '수업교원 1인당 학생수'], axis=1)
df_busan.head()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학급수,1학년 학생수,1학년 학급당 학생수,2학년 학급수,2학년 학생수,...,특수학급 학급수,특수학급 학생수,특수학급 학급당 학생수,순회학급 학급수,순회학급 학생수,순회학급 학급당 학생수,학급수(계),학생수(계),학급당 학생수(계),교사수
0,부산광역시 연제구,S000003559,부산교육대학교부설초등학교,국립,N,4,79,19.8,4,95,...,1,6,6.0,0,0,0,25,560,22.4,29
1,부산광역시 중구,S020000625,광일초등학교,공립,N,2,32,16.0,2,43,...,1,4,4.0,0,0,0,14,262,18.7,17
2,부산광역시 중구,S020000626,남성초등학교,사립,N,3,90,30.0,3,89,...,0,0,0.0,0,0,0,17,438,25.8,23
3,부산광역시 남구,S020000628,대남초등학교,공립,N,3,64,21.3,2,40,...,1,5,5.0,0,0,0,16,314,19.6,19
4,부산광역시 남구,S020000629,대연초등학교,공립,N,5,112,22.4,5,130,...,2,9,4.5,0,0,0,39,871,22.3,48

In [25]:
df_busan = df_busan.drop(['1학년 학급당 학생수', '2학년 학급당 학생수', '3학년 학급당 학생수', '4학년 학급당 학생수'], axis=1)
df_busan.head()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학급수,1학년 학생수,2학년 학급수,2학년 학생수,3학년 학급수,...,특수학급 학급수,특수학급 학생수,특수학급 학급당 학생수,순회학급 학급수,순회학급 학생수,순회학급 학급당 학생수,학급수(계),학생수(계),학급당 학생수(계),교사수
0,부산광역시 연제구,S000003559,부산교육대학교부설초등학교,국립,N,4,79,4,95,4,...,1,6,6.0,0,0,0,25,560,22.4,29
1,부산광역시 중구,S020000625,광일초등학교,공립,N,2,32,2,43,2,...,1,4,4.0,0,0,0,14,262,18.7,17
2,부산광역시 중구,S020000626,남성초등학교,사립,N,3,90,3,89,3,...,0,0,0.0,0,0,0,17,438,25.8,23
3,부산광역시 남구,S020000628,대남초등학교,공립,N,3,64,2,40,3,...,1,5,5.0,0,0,0,16,314,19.6,19
4,부산광역시 남구,S020000629,대연초등학교,공립,N,5,112,5,130,6,...,2,9,4.5,0,0,0,39,871,22.3,48

In [26]:
df_busan = df_busan.drop(['5학년 학급당 학생수', '6학년 학급당 학생수'], axis=1)
df_busan.head()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학급수,1학년 학생수,2학년 학급수,2학년 학생수,3학년 학급수,...,특수학급 학급수,특수학급 학생수,특수학급 학급당 학생수,순회학급 학급수,순회학급 학생수,순회학급 학급당 학생수,학급수(계),학생수(계),학급당 학생수(계),교사수
0,부산광역시 연제구,S000003559,부산교육대학교부설초등학교,국립,N,4,79,4,95,4,...,1,6,6.0,0,0,0,25,560,22.4,29
1,부산광역시 중구,S020000625,광일초등학교,공립,N,2,32,2,43,2,...,1,4,4.0,0,0,0,14,262,18.7,17
2,부산광역시 중구,S020000626,남성초등학교,사립,N,3,90,3,89,3,...,0,0,0.0,0,0,0,17,438,25.8,23
3,부산광역시 남구,S020000628,대남초등학교,공립,N,3,64,2,40,3,...,1,5,5.0,0,0,0,16,314,19.6,19
4,부산광역시 남구,S020000629,대연초등학교,공립,N,5,112,5,130,6,...,2,9,4.5,0,0,0,39,871,22.3,48

In [27]:
df_busan = df_busan.drop(['특수학급 학급수', '특수학급 학생수', '특수학급 학급당 학생수', '순회학급 학급수', '순회학급 학생수'], axis=1)
df_busan.head()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학급수,1학년 학생수,2학년 학급수,2학년 학생수,3학년 학급수,...,4학년 학생수,5학년 학급수,5학년 학생수,6학년 학급수,6학년 학생수,순회학급 학급당 학생수,학급수(계),학생수(계),학급당 학생수(계),교사수
0,부산광역시 연제구,S000003559,부산교육대학교부설초등학교,국립,N,4,79,4,95,4,...,95,4,95,4,95,0,25,560,22.4,29
1,부산광역시 중구,S020000625,광일초등학교,공립,N,2,32,2,43,2,...,36,2,49,3,62,0,14,262,18.7,17
2,부산광역시 중구,S020000626,남성초등학교,사립,N,3,90,3,89,3,...,69,2,44,3,63,0,17,438,25.8,23
3,부산광역시 남구,S020000628,대남초등학교,공립,N,3,64,2,40,3,...,44,2,38,3,56,0,16,314,19.6,19
4,부산광역시 남구,S020000629,대연초등학교,공립,N,5,112,5,130,6,...,151,7,152,8,187,0,39,871,22.3,48

In [28]:
df_busan = df_busan.drop(['순회학급 학급당 학생수', '학급당 학생수(계)'], axis=1)
df_busan.head()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학급수,1학년 학생수,2학년 학급수,2학년 학생수,3학년 학급수,3학년 학생수,4학년 학급수,4학년 학생수,5학년 학급수,5학년 학생수,6학년 학급수,6학년 학생수,학급수(계),학생수(계),교사수
0,부산광역시 연제구,S000003559,부산교육대학교부설초등학교,국립,N,4,79,4,95,4,95,4,95,4,95,4,95,25,560,29
1,부산광역시 중구,S020000625,광일초등학교,공립,N,2,32,2,43,2,36,2,36,2,49,3,62,14,262,17
2,부산광역시 중구,S020000626,남성초등학교,사립,N,3,90,3,89,3,83,3,69,2,44,3,63,17,438,23
3,부산광역시 남구,S020000628,대남초등학교,공립,N,3,64,2,40,3,67,2,44,2,38,3,56,16,314,19
4,부산광역시 남구,S020000629,대연초등학교,공립,N,5,112,5,130,6,130,6,151,7,152,8,187,39,871,48

In [29]:
df_busan = df_busan.drop(['1학년 학급수', '2학년 학급수', '3학년 학급수', '4학년 학급수', '5학년 학급수', '6학년 학급수'], axis=1)
df_busan.head()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학생수,2학년 학생수,3학년 학생수,4학년 학생수,5학년 학생수,6학년 학생수,학급수(계),학생수(계),교사수
0,부산광역시 연제구,S000003559,부산교육대학교부설초등학교,국립,N,79,95,95,95,95,95,25,560,29
1,부산광역시 중구,S020000625,광일초등학교,공립,N,32,43,36,36,49,62,14,262,17
2,부산광역시 중구,S020000626,남성초등학교,사립,N,90,89,83,69,44,63,17,438,23
3,부산광역시 남구,S020000628,대남초등학교,공립,N,64,40,67,44,38,56,16,314,19
4,부산광역시 남구,S020000629,대연초등학교,공립,N,112,130,130,151,152,187,39,871,48

In [30]:
df_busan = df_busan.drop(['학급수(계)'], axis=1)
df_busan.head()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학생수,2학년 학생수,3학년 학생수,4학년 학생수,5학년 학생수,6학년 학생수,학생수(계),교사수
0,부산광역시 연제구,S000003559,부산교육대학교부설초등학교,국립,N,79,95,95,95,95,95,560,29
1,부산광역시 중구,S020000625,광일초등학교,공립,N,32,43,36,36,49,62,262,17
2,부산광역시 중구,S020000626,남성초등학교,사립,N,90,89,83,69,44,63,438,23
3,부산광역시 남구,S020000628,대남초등학교,공립,N,64,40,67,44,38,56,314,19
4,부산광역시 남구,S020000629,대연초등학교,공립,N,112,130,130,151,152,187,871,48

In [31]:
# 모든 컬럼을 삭제하고 다시 저장
df_busan.to_csv('./2024_busan_elementry_final.csv')

In [32]:
df_busan.tail()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학생수,2학년 학생수,3학년 학생수,4학년 학생수,5학년 학생수,6학년 학생수,학생수(계),교사수
299,부산광역시 강서구,S020002257,명일초등학교,공립,N,157,164,146,152,140,113,885,47
300,부산광역시 강서구,S020002276,명원초등학교,공립,N,230,224,247,243,239,231,1422,69
301,부산광역시 기장군,S020002277,일광초등학교,공립,N,187,174,191,178,178,176,1090,53
302,부산광역시 기장군,S020002312,해빛초등학교,공립,N,156,194,180,179,143,129,988,46
303,부산광역시 강서구,S020002361,명문초등학교,공립,N,245,232,202,153,118,64,1022,45

In [34]:
## 동일한 문자 제거
df_busan['지역'] = df_busan['지역'].str.replace('부산광역시', '')
df_busan.head()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학생수,2학년 학생수,3학년 학생수,4학년 학생수,5학년 학생수,6학년 학생수,학생수(계),교사수
0,연제구,S000003559,부산교육대학교부설초등학교,국립,N,79,95,95,95,95,95,560,29
1,중구,S020000625,광일초등학교,공립,N,32,43,36,36,49,62,262,17
2,중구,S020000626,남성초등학교,사립,N,90,89,83,69,44,63,438,23
3,남구,S020000628,대남초등학교,공립,N,64,40,67,44,38,56,314,19
4,남구,S020000629,대연초등학교,공립,N,112,130,130,151,152,187,871,48

In [37]:
## 학생수(계) 컬럼명을 총 학생수로 변경
df_busan.rename(columns={'학생수(계)':'총학생수'}, inplace=True)
df_busan.head()

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학생수,2학년 학생수,3학년 학생수,4학년 학생수,5학년 학생수,6학년 학생수,총학생수,교사수
0,연제구,S000003559,부산교육대학교부설초등학교,국립,N,79,95,95,95,95,95,560,29
1,중구,S020000625,광일초등학교,공립,N,32,43,36,36,49,62,262,17
2,중구,S020000626,남성초등학교,사립,N,90,89,83,69,44,63,438,23
3,남구,S020000628,대남초등학교,공립,N,64,40,67,44,38,56,314,19
4,남구,S020000629,대연초등학교,공립,N,112,130,130,151,152,187,871,48

In [39]:
## NULL 값 확인
df_busan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         304 non-null    object
 1   정보공시 학교코드  304 non-null    object
 2   학교명        304 non-null    object
 3   설립구분       304 non-null    object
 4   제외여부       304 non-null    object
 5   1학년 학생수    304 non-null    int64
 6   2학년 학생수    304 non-null    int64
 7   3학년 학생수    304 non-null    int64
 8   4학년 학생수    304 non-null    int64
 9   5학년 학생수    304 non-null    int64
 10  6학년 학생수    304 non-null    int64
 11  총학생수       304 non-null    int64
 12  교사수        304 non-null    int64
dtypes: int64(8), object(5)
memory usage: 31.0+ KB

In [42]:
## 마지막 필요컬럼 정리 저장
df_busan.to_excel('./2024년_부산_초등학교_학생수_최종정리.xlsx', index=False)

In [4]:
## 다시 읽기
df_buel = pd.read_excel('./2024년_부산_초등학교_학생수_최종정리.xlsx')
df_buel

,지역,정보공시 학교코드,학교명,설립구분,제외여부,1학년 학생수,2학년 학생수,3학년 학생수,4학년 학생수,5학년 학생수,6학년 학생수,총학생수,교사수
0,연제구,S000003559,부산교육대학교부설초등학교,국립,N,79,95,95,95,95,95,560,29
1,중구,S020000625,광일초등학교,공립,N,32,43,36,36,49,62,262,17
2,중구,S020000626,남성초등학교,사립,N,90,89,83,69,44,63,438,23
3,남구,S020000628,대남초등학교,공립,N,64,40,67,44,38,56,314,19
4,남구,S020000629,대연초등학교,공립,N,112,130,130,151,152,187,871,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,강서구,S020002257,명일초등학교,공립,N,157,164,146,152,140,113,885,47
300,강서구,S020002276,명원초등학교,공립,N,230,224,247,243,239,231,1422,69
301,기장군,S020002277,일광초등학교,공립,N,187,174,191,178,178,176,1090,53
302,기장군,S020002312,해빛초등학교,공립,N,156,194,180,179,143,129,988,46
303,강서구,S020002361,명문초등학교,공립,N,245,232,202,153,118,64,1022,45

: